{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Sobre este blog</h5>
    <div class="card-body">
        <p class="card-text"> Este es un blog creado con django haz click para ver el tutorial..!</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
            class="btn btn-danger">Saber mas!</a>
        <img src="../imagenes/elongando.jpg" width="300" height="300">
    </div>
</div>
</div>

{% endblock sidebar %}